version: 2

defaults: &defaults
  working_directory: ~/repo
  docker:
    - image: hashicorp/terraform:light
  environment:
    TF_IN_AUTOMATION: true

jobs:

  terraform-init:
    <<: *defaults
    steps:
      - checkout
      - run: 
          name: Update PATH and Define Environment Variable at Runtime
          command: |
            echo 'PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID} AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY} AWS_DEFAULT_REGION=${AWS_DEFAULT_REGION}' > $BASH_ENV
            source $BASH_ENV
      - run: terraform init -input=false
      - persist_to_workspace:
          root: ~/repo
          paths: .
  
  terraform-plan:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/repo
      - run:
          name: plan
          command: terraform plan -no-color -out=tfplan  -input=false 
      - store_artifacts:
          path: ~/repo/tfplan
          destination: tfplan
      - persist_to_workspace:
          root: ~/repo
          paths: .
    
  terraform-apply:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/repo
      - run:
          name: apply
          command: terraform apply -input=false -auto-approve tfplan
      - run:
          name: show
          command: terraform show -no-color > tfresult
      - store_artifacts:
          path: ~/repo/tfresult
          destination: tfresult
      - persist_to_workspace:
          root: ~/repo
          paths: .
     
workflows:
  version: 2
  circlecitest:
    jobs:
      - terraform-init
      - terraform-plan:
           requires:
             - terraform-init