version: 2
jobs:
  build:
    docker:
      - image: circleci/ruby:2.4.1
    steps:
      - checkout
      - run: echo "A first hello"
      - run: sleep 25
  test:
    docker:
      - image: circleci/ruby:2.4.1
    steps:
      - checkout
      - run: echo "A more familiar hi" > file.txt 
      - run: sleep 15
      - store_artifacts:
          path: file.txt
          destination: /tmp/files
  awscli:
    docker:
      - image: circleci/python
    steps:
      - checkout
      - run: pip install awscli
  
  terraform-init:
    docker: 
      - image: hashicorp/terraform:light
    environment:
      TF_IN_AUTOMATION: true
    steps:
      - checkout
      - run: 
          name: Update PATH and Define Environment Variable at Runtime
          command: |
            echo 'PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID} AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY} AWS_DEFAULT_REGION=${AWS_DEFAULT_REGION}' > $BASH_ENV
            source $BASH_ENV
      - run: terraform init -input=false
      - persist_to_workspace:
          root: ~/repo
          paths: .
     
workflows:
  version: 2
  circlecitest:
    jobs:
      - build
      - test:
          requires:
            - build
      - awscli:
          requires:
            - test
      - terraform:
           requires:
             - awscli
